# 🔒 Игнорируем чувствительные данные и временные файлы

# Переменные среды
.env
.env.*




# Кэш и временные файлы Python
__pycache__/
*.pyc

# Логи
*.log

# Виртуальное окружение
venv/

server___2___.txt

ping_log.txt
